:root{
    --color-cyan: hsl(179, 62%, 43%);
    --color-brightYellow: hsl(71, 73%, 54%);
    --color-lightGrey: hsl(204, 43%, 93%);
    --color-grayishBlue: hsl(218, 22%, 67%);
    --color-lightCyan: hsl(179, 62%, 46%);
}