@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  /* With border-box, given the width and height, if set width to 100px, that 100px will include any border or padding added afterwards*/
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
}
